*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.calc{
    margin: 50px auto;
    width: 310px;
    height: 590px;
    border-radius: 20px;
    background: #000;
    color: #fff;
    font-family: Arial;
    padding: 18px;
    box-shadow: 4px 4px 4px #4f4f4f;
}
.calc-screen{
     height: 225px;
     padding: 10px;
     display: grid;
     justify-items: end;
     align-items: end;
}
.calc-screen p{
    text-align: right;
    font-size: 40px;
    margin: 0;
}
.buttons{
     display: grid;
     grid-template-areas: 
     "ac plus-minus parcent  division"
     "seven eigth nine multi" 
     "four five six minus"
     "one two three plus"
     "zero zero dot equal";
     grid-gap: 7px;
}
.btn{
    width: 60px;
    height: 60px;
    background: #333;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
}
.btn.zero{
    grid-area: zero;
    width: 100%;
    border-radius: 34px;
}
.btn:hover{
    filter: brightness(90%);
}
.btn:active{
    filter: brightness(90%);
}
.btn.bg-grey{
    background: #a6a6a6;
}
.btn.bg-orange{
    background: #ff9501;
}

